<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Ash Common Extension
 *
 * Maintains common settings and configuration for AAI-built Magento websites.
 *
 * @category    Ash
 * @package     Ash_Core
 * @copyright   Copyright (c) 2012 August Ash, Inc. (http://www.augustash.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Ash_Core>
             <version>1.1.1</version>
        </Ash_Core>
    </modules>

    <global>
        <helpers>
            <ash>
                <class>Ash_Core_Helper</class>
            </ash>
        </helpers>
        <blocks>
            <ash>
                <class>Ash_Core_Block</class>
            </ash>
        </blocks>
        <models>
            <ash>
                <class>Ash_Core_Model</class>
            </ash>
        </models>
    </global>

    <adminhtml>
        <layout>
            <updates>
                <ash>
                    <file>ash.xml</file>
                </ash>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ash_Core>
                    <files>
                        <default>Ash_Core.csv</default>
                    </files>
                </Ash_Core>
            </modules>
        </translate>
    </adminhtml>

    <frontend>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <ash_maintenance_reminder>
                        <class>ash/observer</class>
                        <method>afterGenerateBlocks</method>
                    </ash_maintenance_reminder>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </frontend>

    <stores>
        <admin>
            <design>
                <theme>
                    <default>ash</default>
                </theme>
            </design>
        </admin>
        <default>
            <web>
                <routers>
                    <standard>
                        <area>frontend</area>
                        <class>Ash_Core_Controller_Router_Standard</class>
                    </standard>
                </routers>
            </web>
        </default>
    </stores>

    <default>
        <web>
            <routers>
                <standard>
                    <area>frontend</area>
                    <class>Ash_Core_Controller_Router_Standard</class>
                </standard>
            </routers>
        </web>
        <ash_offline>
            <general>
                <enabled>0</enabled>
                <message><![CDATA[<h1>We're busy updating the store for you and will be back shortly.</h1>]]></message>
            </general>
        </ash_offline>
    </default>
</config>
